<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smart Farmer AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

    <div class="container">

        <div class="hero">

            <div class="logo">
                <i class="fa-solid fa-seedling"></i>
            </div>

            <h1>Smart Farmer AI</h1>

            <p>
                AI Powered Crop & Fertilizer Recommendation System
            </p>

        </div>

        <div class="cards">

            <div class="card">

                <i class="fa-solid fa-wheat-awn"></i>

                <h2>Crop Recommendation</h2>

                <p>
                    Predict the most suitable crop based on soil nutrients
                    and environmental conditions.
                </p>

                <a href="/crop">
                    <button class="btn">
                        Predict Crop
                    </button>
                </a>

            </div>

            <div class="card">

                <i class="fa-solid fa-flask"></i>

                <h2>Fertilizer Recommendation</h2>

                <p>
                    Get the best fertilizer recommendation using soil and crop
                    information.
                </p>

                <a href="/fertilizer">
                    <button class="btn">
                        Predict Fertilizer
                    </button>
                </a>

            </div>

        </div>

        <footer>

            <p>
                Developed using Machine Learning • Flask • Python
            </p>

        </footer>

    </div>

</body>

</html>